.signup-wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.signup-image {
  flex: 1;
  // background-color: #f3faff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideInRight 1s ease forwards;

  img {
    width: 80%;
    max-width: 400px;
    animation: floatIn 1s ease-out;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.signup-form-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideInLeft 1s ease forwards;
  // background: #ffffff;
  padding: 2rem;
}

.disabled {
  cursor: not-allowed;
  background-color: #ccc !important;
}

.signup-card {
  width: 100%;
  max-width: 400px;
}

/* Animations */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes floatIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image-preview-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px dashed #ccc;
  background: #fafafa;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  .image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .placeholder {
    font-size: 2rem;
    color: #aaa;
    cursor: pointer;
  }

  .remove-image-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 24px;
    height: 24px;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    line-height: 1;
    font-size: 1.2rem;
    cursor: pointer;
  }
}

section.vh-100 {
  height: 100vh;
  overflow-y: scroll;
}

form {
  mat-form-field {
    width: 100%;
  }

  button[type='submit'] {
    background-color: #ffc258;
    color: black;
    font-weight: bold;

    &:hover {
      background-color: #ffb652;
    }
  }

  .show-password {
    background-color: transparent;
    border: none;

    mat-icon {
      cursor: pointer;
    }
  }
}

img[alt='SpottyChat Logo'] {
  border-radius: 12px;
}

.responsive-row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  >.w-100 {
    flex: 1;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 0;
  }
}