.signup-wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.signup-image {
  flex: 1;
  background-color: #f3faff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideInRight 1s ease forwards;

  img {
    width: 80%;
    max-width: 400px;
    animation: floatIn 1s ease-out;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.signup-form-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideInLeft 1s ease forwards;
  background: #ffffff;
  padding: 2rem;
}

.signup-card {
  width: 100%;
  max-width: 400px;
}

/* Animations */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes floatIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image-preview-wrapper {
  position: relative;
  border: 2px dashed #ccc;
  border-radius: 50%;
  overflow: hidden;
  padding: 5px;
  background: #fafafa;

  .image-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  .remove-image-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
  }
}