section.vh-100 {
  height: 100vh;
  overflow: hidden;
}

form {
  mat-form-field {
    width: 100%;
  }

  button[type='submit'] {
    background-color: #ffc258;
    color: black;
    font-weight: bold;

    &:hover {
      background-color: #ffb652;
    }
  }

  .show-password {
    background-color: transparent;
    border: none;

    mat-icon {
      cursor: pointer;
    }
  }
}

img[alt='SpottyChat Logo'] {
  border-radius: 12px;
}